body{
	font-family: "Helvetica";
	background: black;
	height: 90%;
}
#cycler>div{/*do not use display or position or z-index attribute*/
	margin: auto;
	width: 100%;
	height: 100%;
	text-align: center;
	border-radius: 0px;
	background-color: black;
	color: white;
}
#cycler>div:first-line{
	line-height: 2;
}
#cycler{/*do not use position attribute*/
	width: 100%;
	height: 100%;
	margin-top:20px;
	text-align: center;
}
